<!DOCTYPE html>
<html>
<head>
<title>Carrito de Compras</title>
</head>
<body>
<h1>Carrito de Compras</h1>
<% if (!orders || orders.length == 0) { %>
<p>Tu carrito está vacío.</p>
<% } else { %>
<% orders.forEach((producto) => { %>
<div>
    <img class="imgp" src="../public/img/auto1.jpg" alt="Producto 1">
    <h3 id="nombre" name="nombre"><%= producto.nombre %></h3>
    <h3 id="marca" name="marca"><%= producto.marca %></h3>
    <h3 id="modelo" name="modelo"><%= producto.modelo %></h3>
    <h3 id="yr" name="yr"><%= producto.yr %></h3>
    <p id="descript" name="descript"><%= producto.descripcion %></p>
    <p id="precio" name="precio">Precio: $<%= producto.precio %></p>
</div>
<% }); %>
<form action="/paypal/pay" method="POST">
<input type="submit" value="Pagar con PayPal">
</form>
<% } %>
<script type="text/javascript" src="../public/js/control.js"></script>
</body>
</html>
